/*Global*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Golos Text', sans-serif;
    color: whitesmoke;
}

/*Cabeçalho e Rodapé*/
header, footer{
background-color: #fd8e39;
text-align: center;
}

/*cabeçaçho*/
header{
    padding: 50px;
}

/*menu*/
nav
{
    background-color: #ad6026;
    text-align: center;
    padding: 30px;
}

nav ul
{
    margin: 0;
}

nav ul li
{
    display: inline;
    margin: 25px;
}

nav ul li a
{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    text-transform: bold;
}



/*Somente Rodapé*/
footer
{
    padding: 20px;
}


@media only screen and (max-width: 600px)
{
    nav ul li{
    margin: 15px;
    }
}