<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">        
        <title>Currículo de Winícius Benevides Rodrigues (WIP)</title>
        <meta name = "description" content = "Currículo de Winícius Benevides Rodrigues">
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Golos+Text&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="/static/logofavicon.ico" type="image/x-icon">

    </head>

    <body>
        <header>
                <img src="/static/stock.webp" alt="Foto do Winícius Benevides (WIP)">
                <h1>Winícius Benevides Rodrigues</h1>
        </header>
        <nav>
            <ul>
                <li><a href="#">Currículo</a></li>
                <li><a href="portfolio.html">Portfólio</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>

        <section>
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h2>
            <ul>
                <li>(1998) quando eu nasci.</li>
            </ul>
        </section>
        <section>
            <h2>Morbi ultricies, turpis sit amet bibendum bibendum, quam diam congue leo, et efficitur massa nibh sit amet metus.  </h2>
            <ul>
                <li>Lorem Ipsum</li>
            </ul>
        </section>
        </section>
        <section>
            <h2>Integer venenatis nisl magna, eu aliquam eros consectetur id. Mauris eu sem justo. Etiam nunc massa, mattis id libero at, semper sodales tortor.</h2></section>
        </section>
        <footer>Feito por Winícius Benevides Rodrigues, WIP</footer>
    </body>
</html>