<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">        
        <title>Currículo de Winícius Benevides Rodrigues (WIP)</title>
        <meta name = "description" content = "Currículo de Winícius Benevides Rodrigues">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="portfolio.css">
        <link href="https://fonts.googleapis.com/css2?family=Golos+Text&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="/static/logofavicon.ico" type="image/x-icon">

    </head>

    <body>
        <header>
                <img src="/static/stock.webp" alt="Foto do Winícius Benevides (WIP)">
                <h1>Winícius Benevides Rodrigues</h1>
        </header>
        <nav>
            <ul>
                <li><a href="index.html">Currículo</a></li>
                <li><a href="#">Portfólio</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>

        <main>
            <div class="item-portfolio">
                <img src="/static/stock.webp" alt="exemplo">
                <p>teste</p>
            </div>

            <div class="item-portfolio">
                <img src="/static/stock.webp" alt="exemplo">
                <p>teste</p>
            </div>

            <div class="item-portfolio">
                <img src="/static/stock.webp" alt="exemplo">
                <p>teste</p>
            </div>
        </main>
        <footer>Feito por Winícius Benevides Rodrigues, WIP</footer>
    </body>
</html>